#This is a template config file
#Modify it as you please to customize your TIA client
#Below are some sample modifications, uncomment them and modify them to suit your purposes
#Parsing is case sensitive and apostrophes are not interchangable with quotation marks
#Unpredictable behavior may occur if incorrect syntax is given
#Samples:
#
#
#
serverip='140.103.108.179' #modifies the server IP address
sharefolder='./share/'

